<div class="container">
  <div class="row">
    <h1 class="text-center"> Comunicate con nosotros. </h1>

      <div class="col-md-4 col-md-offset-4">
        <div class="well">
           <%= form_for "/contacts" do |f| %>
            <div class="form-group">
                <%= f.label :nombre %>
                <%= f.text_field :nombre, class: 'form-control' %>
            </div>

             <div class="form-group">
                <%= f.label :correo %>
                <%= f.text_field :correo, class: 'form-control' %>
             </div>  

             <div class="form-group">
                <%= f.label :comentarios %>
                <%= f.text_area :comentarios, class: 'form-control' %>
             </div>

                <%= f.submit 'Enviar', class:'btn btn-default' %>
           <% end %>
         </div>
      </div>
        
  </div>       
</div>







<!-- <form>  #FORM HTML
    <label>Nombre</label>
    <input type="text">
    <br>
    <label>Apellido</label>
    <input type="text">
    <br>
    <label>Correo</label>
    <input type="text">
    <br>
    <input type="submit">
  </form> -->