<div class="container">
  <h1 class="text-center"> Comunicate con nosotros. </h1>
  
  <%= form_for "/contacts" do |f| %>
    <%= f.label :nombre %>
    <%= f.text_field :nombre %>
  
    <%= f.label :correo %>
    <%= f.text_field :correo %>
  
    <%= f.label :comentarios %>
    <%= f.text_area :comentarios %>
  
    <%= f.submit 'Enviar' %>
  <% end %>
  
</div>


<!-- <form>  #FORM HTML
    <label>Nombre</label>
    <input type="text">
    <br>
    <label>Apellido</label>
    <input type="text">
    <br>
    <label>Correo</label>
    <input type="text">
    <br>
    <input type="submit">
  </form> -->